<?xml version="1.0"?>

<launch>

  <param name="/use_sim_time" value="false"/>
  <!--<include file="$(find ydlidar_ros)/launch/X2L.launch"/>-->
  <!--<include file="$(find ros_arduino_python)/launch/arduino.launch"/>-->
  <include file="$(find move_base)/launch/amcl_diff.launch"/>
  <include file="$(find urdf_bveeta)/launch/bveeta_urdf.launch"/>
  <!--<include file="$(find usb_cam)/launch/usb_cam.launch"/>-->
  <!--<include file="$(find usb_cam)/launch/usb_cam-test.launch"/>-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find move_base)/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find move_base)/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find move_base)/nav/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find move_base)/nav/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find move_base)/nav/teb_local_planner.yaml" command="load" />
    	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
  </node>
<!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_data_broadcaster" args="0 0 0 0 0 0 base_link /imu/data 10"/>-->

</launch>

