<?xml version="1.0"?>

<robot name="bveeta-mini" xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="blue">
   <color rgba="0 0 0.8 1"/>
  </material>

  <material name="green">
   <color rgba="0 255 0 0.9"/>
   </material>

 <material name="black">
   <color rgba="0 0 0 0.9"/>
   </material>


 <material name="light_blue">
   <color rgba="0 255 255 0.9"/>
   </material>


  <link name="ydlidar_X2L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/ydlidar_X2L.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <link name="bveeta_body">
     <visual> 
     <origin xyz="-0.02 0.06 0" rpy="0 0 -1.57"/>
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/bveeta_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="1st_joint" type="fixed">
    <parent link="bveeta_body"/>
    	<child link="ydlidar_X2L"/>
    <origin xyz="-0.08 0 0.165" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
  </joint>


</robot>

